@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";
@import "~bootswatch/dist/simplex/bootswatch";
@import "icomoon";

html, body {
  min-height: 100%;
}

body {
  background-color: #e0e6e5;
  background-image: radial-gradient(circle at calc(50% + 20rem) 16rem, #FFF 0%, #e0e6e5 71rem);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  padding: 2rem 0;
  text-align: center;
  margin-top: 30px;
}

.header {
  padding: 0.7rem 0;
  .brand {
    font-weight: bold;
    font-size: 2rem;
    span {
      position: relative;
      top: 1px;
    }
  }
}

p {
  margin-bottom: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.add-new {
  position: fixed;
  z-index: 100;
  right: 100px;
  bottom: 100px;
  a:hover {
    text-decoration: none;
  }
}

.plus:before {
  content: '\FF0B';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.125);
  font-size: 30px;
  color: white;
  background-color: $green;
}

.card-idea {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1rem 0;
  border-color: #CCC;
  &.card-idea-main {
    border-color: #BBB;
    &:hover {
      border-color: #BBB;
    }
  }
  &:hover {
    border-color: #AAA;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .card-header {
    width: 3.5rem;
    flex-shrink: 0;
    border: none;
    padding: 0.5rem;
    text-align: center;
  }
  .card-body {
    padding: 0.9rem 1.2rem;
    .who_when {
      font-size: 0.85rem;
      opacity: 0.75;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .avatar {
        width: 1.5rem;
        height: 1.5rem;
        display: inline-block;
        background-size: 120%;
        background-position: center center;
        border-radius: 1.5rem;
        margin-right: 0.5rem;
      }
    }
    h1.title {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .title {
      margin: 0.25rem 0 0.5rem;
      font-size: 1.1rem;
      a {
        color: black;
        font-weight: 600;
        &:hover {
          color: $green;
        }
      }
    }
    .description {
      border-bottom: 1px solid #DDD;
    }
  }
}

.img-tech-brain {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 1rem;
    background-color: gold;
  }
}

@media (max-width: 991px) {
  .new-idea-cta {
    text-align: center;
  }
}

.slogans {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  p {
    margin: 1rem 0;
  }
}

.limit-width {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumb {
  background-color: inherit;
  border: none;
  padding: 0.5rem;
}

input, textarea {
  border: 1px solid #BBB;
  border-radius: 0.25rem;
}

.font-larger {
  font-size: larger;
}

// .Cookie* rules are for EU cookie info banner, using https://github.com/apertureless/vue-cookie-law
.Cookie {
  justify-content: center !important;
  background-color: #FAFAFA !important;
}

@media (max-width: 991px) {
  .Cookie__content {
    margin-top: 0 !important;
  }
}

@media (min-width: 992px) {
  .Cookie__content {
    max-width: 80%;
  }
}

.Cookie__buttons {
  margin: 0 !important;
}
.Cookie__button {
  background-color: #549772 !important;
}
